# 1. Read and write simple text files

A text file `addition.txt` contains a number in each line. Write a python code that

### 1.1  Read the file content

In [27]:
# YOUR CODE HERE
# Hint: Use the .strip() function to remove whitespaces and newlines characters from a string

file_path = 'data/addition.txt'

# with open(file_path, 'r') as fp:
#     lines = fp.readlines()

# lines = [line.replace(' ', '').strip() for line in lines]

with open(file_path, 'r') as fp:
    lines = fp.readlines()
    for i in range(len(lines)):
        lines[i] = lines[i].replace("\n", '')
        
        
    print(lines)

#print(lines)

['2', '3', '5', '', '10', ' 4.0', ' 4.0', ' 4.0', ' 4.0']

### 1.2 Calculate their sum

In [29]:
# YOUR CODE HERE
counter = 0

for line in lines:
    if line != '':
        counter += int(line)

mean = counter / len(lines)
print(mean)

ValueError: invalid literal for int() with base 10: ' 4.0'

### 1.3 Write the sum at the bottom of the text file

In [ ]:
# YOUR CODE HERE
# Hint: 
# - You might want to opne the file in the "Append" mode
# - Add \n characters to start a new line before writing the sum value
with open(file_path, 'a') as fp:
    fp.write('\n {}'.format(mean))

with open(file_path, 'r') as fp:
    print(fp.read())

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd2 in position 7431: invalid continuation byte

# 2. Pandas

In this part, you will practice loading and exploring a data set from Netflix.

### 2.1. Dataset

Import the library

In [ ]:
# YOUR CODE HERE
import pandas as pd

Read the [Netflix dataset](https://www.kaggle.com/datasets/luiscorter/netflix-original-films-imdb-scores)
- Hint: Solution to the encoding problem [here](https://www.kaggle.com/code/paultimothymooney/how-to-resolve-a-unicodedecodeerror-for-a-csv-file/notebook)

In [ ]:
# YOUR CODE HERE
import chardet

with open(file_path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

file_path = 'data/NetflixOriginals.csv'
df = pd.read_csv(file_path, encoding='Windows-1252')
df

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58.0,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81.0,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79.0,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94.0,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90.0,3.4,Hindi
...,...,...,...,...,...,...
586,4.0,NaN,NaN,NaN,NaN,NaN
587,4.0,NaN,NaN,NaN,NaN,NaN
588,4.0,NaN,NaN,NaN,NaN,NaN
589,4.0,NaN,NaN,NaN,NaN,NaN
590,4.0,NaN,NaN,NaN,NaN,NaN

### 2.2 Show the first 3 rows

In [ ]:
# YOUR CODE HERE
df.iloc[0:3, :]

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58.0,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81.0,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79.0,2.6,Italian

### 2.3. Show the last 5 rows

In [ ]:
# YOUR CODE HERE
df.iloc[-5:, :]

    Title Genre Premiere  Runtime  IMDB Score Language
586   4.0   NaN      NaN      NaN         NaN      NaN
587   4.0   NaN      NaN      NaN         NaN      NaN
588   4.0   NaN      NaN      NaN         NaN      NaN
589   4.0   NaN      NaN      NaN         NaN      NaN
590   4.0   NaN      NaN      NaN         NaN      NaN

### 2.4. Show the title and the genre of the 100th movie in the database?

In [ ]:
# YOUR CODE HERE
df.iloc[100:101, :]

      Title     Genre       Premiere  Runtime  IMDB Score Language
100  Guilty  Thriller  March 6, 2020    119.0         5.4    Hindi

### 2.5. Set the column Title as index for the dataset.

In [ ]:
# YOUR CODE HERE
df.set_index('Title', inplace=True)
df

,Genre,Premiere,Runtime,IMDB Score,Language
Title,,,,,
Enter the Anime,Documentary,"August 5, 2019",58.0,2.5,English/Japanese
Dark Forces,Thriller,"August 21, 2020",81.0,2.6,Spanish
The App,Science fiction/Drama,"December 26, 2019",79.0,2.6,Italian
The Open House,Horror thriller,"January 19, 2018",94.0,3.2,English
Kaali Khuhi,Mystery,"October 30, 2020",90.0,3.4,Hindi
...,...,...,...,...,...
4.0,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN

### 2.6. How many movies are there in the dataset?

In [ ]:
# YOUR CODE HERE
df.count()

Genre         584
Premiere      584
Runtime       584
IMDB Score    584
Language      584
dtype: int64

### 2.7. For each movie, what information are available?

In [ ]:
# YOUR CODE HERE
df.info

<bound method DataFrame.info of                                  Genre           Premiere  Runtime  \
Title
Enter the Anime            Documentary     August 5, 2019     58.0
Dark Forces                   Thriller    August 21, 2020     81.0
The App          Science fiction/Drama  December 26, 2019     79.0
The Open House         Horror thriller   January 19, 2018     94.0
Kaali Khuhi                    Mystery   October 30, 2020     90.0
...                                ...                ...      ...
4.0                                NaN                NaN      NaN
 4.0                               NaN                NaN      NaN
 4.0                               NaN                NaN      NaN
 4.0                               NaN                NaN      NaN
 4.0                               NaN                NaN      NaN

                 IMDB Score          Language
Title
Enter the Anime         2.5  English/Japanese
Dark Forces             2.6           Spanish
The App                 2.6           Italian
The Open House          3.2           English
Kaali Khuhi             3.4             Hindi
...                     ...               ...
4.0                     NaN               NaN
 4.0                    NaN               NaN
 4.0                    NaN               NaN
 4.0                    NaN               NaN
 4.0                    NaN               NaN

[591 rows x 5 columns]>

### 2.8. What is the highest IMDB score in the dataset?

In [ ]:
# YOUR CODE HERE
df['IMDB Score'].max()

9.0

### 2.9. Which movies are scored the highest?

In [ ]:
# YOUR CODE HERE
df[df['IMDB Score'] == 9.0]

,Genre,Premiere,Runtime,IMDB Score,Language
Title,,,,,
David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83.0,9.0,English

### 2.10. What is the lowest IMDB score?

In [ ]:
# YOUR CODE HERE
df['IMDB Score'].min()

2.5

### 2.11. What movies are scored the lowest?

In [ ]:
# YOUR CODE HERE
df[df['IMDB Score'] == 2.5]

,Genre,Premiere,Runtime,IMDB Score,Language
Title,,,,,
Enter the Anime,Documentary,"August 5, 2019",58.0,2.5,English/Japanese

### 2.12. Consider only-English-language movies, find those that are scored above their average score

In [ ]:
# YOUR CODE HERE

# print the average IMDB score

# show all those score higher than the average

movies = df.groupby('Language')
english_movies = movies.get_group('English')
mean_english = english_movies['IMDB Score'].mean()

greater_mean = english_movies['IMDB Score'] >= mean_english

english_movies[greater_mean]

,Genre,Premiere,Runtime,IMDB Score,Language
Title,,,,,
"Ariana Grande: Excuse Me, I Love You",Concert Film,"December 21, 2020",97.0,6.4,English
ARQ,Science fiction/Thriller,"September 16, 2016",88.0,6.4,English
First Match,Sports-drama,"March 30, 2018",102.0,6.4,English
Fractured,Thriller,"October 11, 2019",100.0,6.4,English
Irreplaceable You,Drama,"February 16, 2018",96.0,6.4,English
...,...,...,...,...,...
Dancing with the Birds,Documentary,"October 23, 2019",51.0,8.3,English
Ben Platt: Live from Radio City Music Hall,Concert Film,"May 20, 2020",85.0,8.4,English
Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125.0,8.4,English
Springsteen on Broadway,One-man show,"December 16, 2018",153.0,8.5,English
David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83.0,9.0,English

### 2.13. (Optional) Is there a correlation between runtime and IMDB score?

### 2.14 How many languages available?

In [ ]:
# YOUR CODE HERE
languages = df['Language'].unique()
distinct_languages = set()

for language in languages:
    if '/' in language:
        temp = language.split('/')
        for split in temp:
            distinct_languages.add(split)
    
    else:
        distinct_languages.add(language)
        
print(distinct_languages)
print(len(distinct_languages))

TypeError: argument of type 'float' is not iterable

### 2.15. Extract all action movies. Save them into a csv file 'action_movies.csv'

In [ ]:
# YOUR CODE HERE
filt = df['Genre'].str.contains('Action')
action_movies = df[filt]

action_movies.to_csv('data/action_movies.csv')

### 2.16. For each genre of movies, answer the following question
- How many movies are available in the dataset?

In [ ]:
# YOUR CODE HERE
# For this code I will count for example Action/Comedy and Action as seperate genres
len(df['Genre'].unique())

115


- What are their average score?

In [ ]:
# YOUR CODE HERE
import numpy as np

def scores_per_genre():
    Genre_Score_list = df.groupby(['Genre', 'IMDB Score'])
    genre_scores = Genre_Score_list.groups.keys()

    dict_genre_scores = dict()
    Genre_Score_list.size()


    for genre, score in genre_scores:
        if genre in dict_genre_scores.keys():
            dict_genre_scores[genre].append(float(score))
        else:
            dict_genre_scores[genre] = [float(score)]
    
    return dict_genre_scores

def get_mean():
    for genre, scores in scores_per_genre().items():
        print("{}: mean = {}".format(genre, np.mean(scores)))

#Wasn't able to group for example Action thriller and Action-thriller... Probably something using regex

scores_per_genre()
#get_mean()

{'Action': [3.5, 4.7, 4.9, 5.7, 6.1, 6.3, 6.7],
 'Action comedy': [4.2, 5.1, 5.7, 5.9, 6.2],
 'Action thriller': [6.4],
 'Action-adventure': [7.3],
 'Action-thriller': [5.0, 6.4, 7.0],
 'Action/Comedy': [5.4],
 'Action/Science fiction': [5.4],
 'Adventure': [6.1, 6.5],
 'Adventure-romance': [6.1],
 'Adventure/Comedy': [5.5],
 'Aftershow / Interview': [5.2, 6.8, 7.0, 7.1, 7.4],
 'Animated musical comedy': [6.7],
 'Animation': [5.1, 6.2, 7.1, 7.3],
 'Animation / Comedy': [7.0],
 'Animation / Musicial': [6.4],
 'Animation / Science Fiction': [7.5],
 'Animation / Short': [6.5, 6.9, 7.3, 7.8],
 'Animation/Christmas/Comedy/Adventure': [8.2],
 'Animation/Comedy/Adventure': [6.4],
 'Animation/Musical/Adventure': [6.4],
 'Animation/Superhero': [4.9],
 'Anime / Short': [4.7],
 'Anime/Fantasy': [6.7],
 'Anime/Science fiction': [6.5, 6.7],
 'Anthology/Dark comedy': [7.6],
 'Biographical/Comedy': [6.8],
 'Biopic': [5.8, 6.0, 6.1, 6.2, 6.9, 7.0, 7.3],
 'Black comedy': [5.5, 5.6],
 'Christian musical': [5.7],
 'Christmas comedy': [6.0],
 'Christmas musical': [5.2],
 'Christmas/Fantasy/Adventure/Comedy': [7.0],
 'Comedy': [3.7,
  4.1,
  4.3,
  4.4,
  4.5,
  4.6,
  4.8,
  5.0,
  5.2,
  5.3,
  5.4,
  5.5,
  5.6,
  5.7,
  5.8,
  6.1,
  6.2,
  6.3,
  6.5,
  6.7,
  6.8,
  7.0,
  7.2],
 'Comedy / Musical': [5.5, 6.9],
 'Comedy horror': [5.7],
 'Comedy mystery': [6.0],
 'Comedy-drama': [5.2, 5.6, 5.8, 5.9, 6.2, 6.3, 6.4, 6.7, 6.9, 7.3],
 'Comedy/Fantasy/Family': [5.4],
 'Comedy/Horror': [5.8],
 'Coming-of-age comedy-drama': [7.2],
 'Concert Film': [6.4, 7.4, 7.5, 7.7, 8.4],
 'Crime drama': [5.5, 6.1, 6.3, 6.6, 6.9, 7.1, 7.2, 7.3, 7.8],
 'Crime thriller': [6.3],
 'Dance comedy': [6.1],
 'Dark comedy': [5.7, 5.8],
 'Documentary': [2.5,
  4.1,
  4.3,
  4.4,
  4.6,
  5.2,
  5.5,
  5.6,
  5.7,
  5.9,
  6.1,
  6.2,
  6.3,
  6.4,
  6.5,
  6.6,
  6.7,
  6.8,
  6.9,
  7.0,
  7.1,
  7.2,
  7.3,
  7.4,
  7.5,
  7.6,
  7.7,
  7.9,
  8.0,
  8.1,
  8.2,
  8.3,
  8.4,
  8.6,
  9.0],
 'Drama': [4.1,
  4.7,
  4.9,
  5.0,
  5.2,
  5.3,
  5.4,
  5.7,
  5.8,
  5.9,
  6.0,
  6.1,
  6.2,
  6.3,
  6.4,
  6.5,
  6.6,
  6.7,
  6.8,
  6.9,
  7.0,
  7.1,
  7.2,
  7.3,
  7.6,
  7.7,
  7.8,
  7.9],
 'Drama / Short': [6.5],
 'Drama-Comedy': [7.2],
 'Drama/Horror': [6.3],
 'Family': [5.7, 6.1],
 'Family film': [4.9, 6.3],
 'Family/Christmas musical': [6.5],
 'Family/Comedy-drama': [6.3],
 'Fantasy': [5.8],
 'Heist': [4.8],
 'Heist film/Thriller': [3.7],
 'Hidden-camera prank comedy': [6.6],
 'Historical drama': [7.2],
 'Historical-epic': [6.9],
 'Horror': [4.6, 4.8, 5.1, 5.2, 5.3, 5.4, 5.7, 6.6],
 'Horror anthology': [4.3],
 'Horror comedy': [5.6],
 'Horror thriller': [3.2, 4.4, 6.5],
 'Horror-thriller': [6.1, 6.3],
 'Horror/Crime drama': [6.3],
 'Making-of': [7.2, 7.7],
 'Mentalism special': [7.1],
 'Mockumentary': [5.8, 5.9],
 'Musical': [5.5, 5.9],
 'Musical / Short': [7.7],
 'Musical comedy': [6.4, 6.5],
 'Musical/Western/Fantasy': [3.9],
 'Mystery': [3.4, 5.9],
 'One-man show': [5.8, 7.1, 8.5],
 'Political thriller': [4.3],
 'Psychological horror': [5.9],
 'Psychological thriller': [5.7, 6.6, 7.1],
 'Psychological thriller drama': [5.5],
 'Romance': [5.6, 6.5, 6.6, 6.9],
 'Romance drama': [4.6],
 'Romantic comedy': [4.1,
  4.5,
  5.0,
  5.2,
  5.3,
  5.4,
  5.5,
  5.6,
  5.7,
  5.8,
  5.9,
  6.0,
  6.1,
  6.2,
  6.3,
  6.4,
  6.5,
  6.6,
  6.8,
  7.1,
  7.2],
 'Romantic comedy-drama': [5.8],
 'Romantic comedy/Holiday': [6.1],
 'Romantic drama': [5.1, 5.6, 5.7, 6.4, 6.7],
 'Romantic teen drama': [5.7],
 'Romantic teenage drama': [5.4],
 'Romantic thriller': [6.0],
 'Satire': [5.8],
 'Science fiction': [5.2, 5.5, 5.6, 6.6],
 'Science fiction adventure': [5.2],
 'Science fiction thriller': [6.5],
 'Science fiction/Action': [6.3],
 'Science fiction/Drama': [2.6, 4.7, 6.3],
 'Science fiction/Mystery': [5.5],
 'Science fiction/Thriller': [5.8, 6.0, 6.4],
 'Sports film': [5.9],
 'Sports-drama': [5.9, 6.2, 6.4],
 'Spy thriller': [6.6],
 'Stop Motion': [6.2],
 'Superhero': [4.7, 6.0],
 'Superhero-Comedy': [4.4],
 'Superhero/Action': [6.7],
 'Supernatural drama': [5.4],
 'Teen comedy horror': [6.3],
 'Teen comedy-drama': [5.1],
 'Thriller': [2.6,
  4.2,
  4.4,
  4.5,
  4.8,
  5.0,
  5.1,
  5.3,
  5.4,
  5.5,
  5.6,
  5.7,
  5.8,
  5.9,
  6.1,
  6.2,
  6.3,
  6.4,
  6.5,
  6.8,
  6.9,
  7.3],
 'Urban fantasy': [6.3],
 'Variety Show': [6.7],
 'Variety show': [5.2, 5.5, 5.6, 7.5],
 'War': [6.3, 7.2],
 'War drama': [6.5, 7.7],
 'War-Comedy': [6.0],
 'Western': [4.8, 6.1, 7.3],
 'Zombie/Heist': [5.9]}

### 2.17. On average, what type of movies scores the highest?

In [ ]:
# YOUR CODE HERE
def highest_mean():
    dict = scores_per_genre()

    mean_list = [(np.mean(scores), genre) for genre, scores in dict.items()]
    print(max(mean_list))
    #return max(mean_dict, key=mean_dict.keys)   

            

highest_mean()

(8.2, 'Animation/Christmas/Comedy/Adventure')